---
import path from "path";

interface Props {
  darkPath: string;
  lightPath: string;
  width: string | undefined;
}

const { lightPath, darkPath, width } = Astro.props;

const baseUrl = import.meta.env.BASE_URL;

const lightUrl = path.join(baseUrl, lightPath);
const darkUrl = path.join(baseUrl, darkPath);
---

<div>
  <img
    src={lightUrl}
    alt="light svg"
    width={width}
    class="light"
    loading="lazy"
  />
  <img src={darkUrl} alt="dark svg" width={width} class="dark" loading="lazy" />
</div>

<style>
  html[data-theme="light"] .dark {
    display: none;
  }

  html[data-theme="dark"] .light {
    display: none;
  }
</style>
